body {background-attachment:fixed;background-repeat: no-repeat;background-image:url("./images/Scene1.jpg");}

/* juxtaposer les blocs */
.div { 
display:inline-block; 
border: 2px solid gold;  
text-align:center; 
}

ul#menu_horizontal {
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}

.ligne {
  color: #fff00 ;
  
}
/* paragraphes */
p {
	text-decoration : underline; 
}
/* Bloc Groupe */
.field1 {
	background-color: #c6ffb3 ; 
}
/* Bloc Date */
.field2 {
	background-color: #d9ffcc ; 
}
/* Bloc Heure */
.field3 {
	background-color: #b3ff99 ; 
}
/* Bloc Durée */
.field4 {
	background-color: #d9ffcc ; 
}

h1 {
	background-color: #004d00 ;
	color: #e6ffe6; 
}

h4 {
	color: #990000;
}

#titre1 {
	 text-align: center;
	 margin-left: auto;
  	 margin-right: auto;
}

.erreur {
	background-color: red ;
	color: red;
}
 